@font-face {
    font-family: "Poppins";
    src: url(fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,600;1,400;1,600&display=swap);
}

:root{
    --azul-escuro-aurora: #2D3A65;
    --cor-de-fundo-aurora: #F2F5FF;
    --laranja-aurora: #F56C38;
    --azulzinho-claro-aurora: #B4C5FF;
}

/*Reset CSS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-grid {
    width: 80vw;
    max-width: 1400px;

    margin: 25px auto;
}

/* Inicio do header */
header{
    height: 120px;
    background-color: var(--azul-escuro-aurora);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Poppins";
    background: var(--azul-escuro-aurora);
    height: 18vh;
}
  nav img{
    height: 84px;
    width: 185px;
}

.nav-list a {
    color: white;
    text-decoration: underline transparent;
    transition: 0.3s;
    font-family: "Poppins";
    font-size: 23px;
    font-weight: 400;
  }
  
  .nav-list a:hover {
    color: #dae0f7;

    text-decoration-color: #dae0f7;
  }

  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: white;
    margin: 8px;
    transition: 0.3s;
  } 
/* Fim do header */
/*Seção Projetos*/

main{
  background: #F2F5FF;
}

#Produtos{
  height: 3200px;
  padding-top: 80px;
}

#Produtos h1{
  font-family: "Poppins";
  color: white;
  font-size: 30px;

  background: #2D3A65;
  height: 80px;
  width: 500px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 0 15px 10px 0 ;
  
}

.linha1, .linha2, .linha3, .linha4{
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}

.avengers, .spider, .banana, .crepusculo, .cr7, .wandinha, .romeu, .porquinhos{
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: black;
  font-family: "Poppins";
}

.avengers img, .spider img, .banana img, .crepusculo img, .cr7 img, .wandinha img, .romeu img, .porquinhos img{
  height: 400px;

  margin-bottom: 18px;
  box-shadow: rgba(131, 131, 131, 0.822) 5px 5px 5px 5px;
}

.avengers h2, .spider h2, .crepusculo h2, .wandinha h2, .romeu h2, .porquinhos h2{
  display: flex;
  justify-content: center;
  margin-bottom: 7px;
}

.avengers p1, .spider p1, .crepusculo p1, .wandinha p1, .romeu p1, .porquinhos p1{
  display: flex;
  justify-content: center;
  margin-bottom: 0px;

  font-size: 30px;
  font-weight: 500; 
}

.avengers p2, .spider p2, .banana p2, .crepusculo p2, .cr7 p2, .wandinha p2, .romeu p2, .porquinhos p2{
  display: flex;
  justify-content: center;
  margin-bottom: 25px;

  font-size: 17px;
  font-weight: 500;

}

.avengers a, .spider a, .banana a, .crepusculo a, .cr7 a, .wandinha a, .romeu a, .porquinhos a{
  background: #F56C38;
  height: 55px;
  width: 250px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 15px;

  text-decoration: none;

  font-family: "Poppins";
  font-size: 20px;
  font-weight: 700;
  color: white;

  margin-left: 47px;
}

.avengers a:hover, .spider a:hover, .banana a:hover, .crepusculo a:hover, .cr7 a:hover,
 .wandinha a:hover, .romeu a:hover, .porquinhos a:hover{
  color: rgb(228, 228, 228);
  background-color: #c9582c;
}

.banana h2, .cr7 h2{
  display: flex;
  justify-content: center;
  margin-bottom: 2px;
}

.banana p1, .cr7 p1{
  display: flex;
  justify-content: center;
  margin-top: 7px;

  font-size: 30px;
  font-weight: 500;
}

/*Fim do Main*/
/*footer*/

footer{
    background-color: var(--azul-escuro-aurora);
  
    height: 290px;
    display: flex;
    justify-content: space-between;
  
    white-space: nowrap;
  }
  
  .navs-footer{
    height: 100px;
  
    margin-top: 60px;
    margin-left: 100px;
  
    display: flex;
    justify-content: space-around;
    gap: 80px;
    
  }
  
  .coluninha1{ 
    display: flex;
    flex-direction: column;
    
    line-height: 55px;
  
    
  }
  
  .coluninha1 a{
    color: white;
    
    font-size: 28px;
    font-family: 'Poppins';
  
    text-decoration: none;
  
    transition: color 500ms ease;
  }
  
  .coluninha2{
    display: flex;
    flex-direction: column;
    
    line-height: 55px;
  }
  
  .coluninha2 a{
    color: white;
    
    font-size: 28px;
    font-family: 'Poppins';
  
    text-decoration: none;
  
    transition: color 200ms ease;
  
  }
  
  .coluninha1 a:hover , .coluninha2 a:hover {
    color: var(--azulzinho-claro-aurora)
  
  }
  
  .images{
    height: 200px;
  
    margin-top: 50px;
    margin-right: 110px;
  
    display: flex;
    flex-direction: column;
  
    line-height: 45px;
  }
  
  .logo{
    width: 350px;
  
    display: flex;
    justify-content: center;
  
    margin-bottom: 10px;
  
  }
  
  .logo img{
    height: 115px;
    width: 270px;
  }
  
  .redes{
    width: 370px;
  
    display: flex;
    justify-content: center;
    flex-direction: row;
  
    gap: 5px;
  }
  
  .redes a{
    text-decoration: none;
    
  }
  
  .redes svg:hover {
    fill: var(--azulzinho-claro-aurora);
  
  }
  
  #whatsapp{
    margin-left: -10px;
  }
  
  #youtube svg{
    margin-top: 2px;
    height: 59px;
    width: 59px;
  }
  
  
  #footer_copyright {
    font-family: "Poppins";
    display: flex;
    justify-content: center;
    background-color: #2D3A65;
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 400;
    color: white;
  }
  

@media screen and (max-width: 1250px){
    nav img{
        margin-top: 40px;
    }
}

@media screen and (max-width: 1200px){
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 5vh;
      right: 0;
      width: 28vw;
      height: 110vh;
      background: var(--azul-escuro-aurora);
      flex-direction: column;
      line-height: 70px;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }

    .nav-list a{
        color: white;
        font-size: 20px;
        font-family: "Poppins";
        margin-left: 40px;
    }

    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }

    nav img{
        margin-top: 40px;
        margin-left: 60px;
    }

    nav{
        display: flex;
        justify-content: space-between;
    }
    .mobile-menu {
      display: block;
      margin-top: 45px;
      margin-right: 60px;

      z-index: 1;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);

  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }
  .mobile-menu.active .line1, .mobile-menu.active .line2, .mobile-menu.active .line3{
    margin-left: -10px;
  }

@media screen and (max-width: 770px){
    .nav-list a{
        color: white;
        font-size: 15px;
        font-family: "Poppins";
        margin-left: 40px;
    }

    .mobile-menu {
        margin-right: 40px;
      }
}

@media screen and (max-width: 630px){
    .nav-list a{
        color: white;
        font-size: 15px;
        font-family: "Poppins";
        margin-left: 20px;
    }

    .mobile-menu {
        margin-right: 20px;
      }
}

@media screen and (max-width: 555px){

    .nav-list a{
        font-size: 12px;
    }

}

@media screen and (max-width: 450px){
    .mobile-menu {
        margin-right: 5px;
        margin-top: 20px;
      }

      .nav-list a{
        font-size: 10px;
        font-weight: 900;
        margin-left: 8px;
    }
}