@font-face {
    font-family: "Poppins";
    src: url(fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,600;1,400;1,600&display=swap);
}

:root{
    --azul-escuro-aurora: #2D3A65;
    --cor-de-fundo-aurora: #F2F5FF;
    --laranja-aurora: #F56C38;
    --azulzinho-claro-aurora: #B4C5FF;
}

/*Reset CSS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-grid {
    width: 80vw;
    max-width: 1400px;

    margin: 25px auto;
}

/* Inicio do header */
header{
    height: 120px;
    background-color: var(--azul-escuro-aurora);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Poppins";
    background: var(--azul-escuro-aurora);
    height: 18vh;
}
  nav img{
    height: 84px;
    width: 185px;
}

.nav-list a {
    color: white;
    text-decoration: underline transparent;
    transition: 0.3s;
    font-family: "Poppins";
    font-size: 23px;
    font-weight: 400;
  }
  
  .nav-list a:hover {
    color: #dae0f7;

    text-decoration-color: #dae0f7;
  }

  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: white;
    margin: 8px;
    transition: 0.3s;
  } 
/* Fim do header */
/*Seção Projetos*/

main{
  background: #F2F5FF;
}

#Projetos{
  height: 1450px;
  padding-top: 80px;
}

#Projetos h1{
  font-family: "Poppins";
  color: white;
  font-size: 30px;

  background: #2D3A65;
  height: 80px;
  width: 500px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 0 15px 10px 0 ;
}
.palestras{


  margin-top: 100px;
  margin-left: 35px;
  margin-right: 35px;
  display: flex;

  gap: 50px;



}

.texto1{

  font-family: "Poppins";
  color: #2D3A65;
  text-align: justify;



/* 
  text-indent: 55px;
  line-height: 40px; */
}

.texto1 h2{
  font-size: 35px;
  font-family: "Poppins";
  color: #2D3A65;

  display: flex;
  justify-content: center;

  margin-bottom: 15px;

}

.texto1 p{
  font-size: 19px;
  font-family: "Poppins";
  color: #2D3A65;

  text-indent: 55px;
  line-height: 37px; 

}


.img1 img{
  height: 300px;
  
}

.clube{


  margin-top: 100px;
  margin-left: 35px;
  margin-right: 35px;
  display: flex;
  flex-direction: row-reverse;

  gap: 50px;
}

.texto2{

  font-family: "Poppins";
  color: #2D3A65;
  text-align: justify;



/* 
  text-indent: 55px;
  line-height: 40px; */
}

.texto2 h2{
  font-size: 35px;
  font-family: "Poppins";
  color: #2D3A65;

  display: flex;
  justify-content: center;

  margin-bottom: 15px;

}

.texto2 p{
  font-size: 19px;
  font-family: "Poppins";
  color: #2D3A65;

  text-indent: 55px;
  line-height: 37px; 

}


.img2 img{
  height: 300px;
  
}

.oficina{


  margin-top: 100px;
  margin-left: 35px;
  margin-right: 35px;
  display: flex;

  gap: 50px;
}

.texto3{

  font-family: "Poppins";
  color: #2D3A65;


/* 
  text-indent: 55px;
  line-height: 40px; */
}

.texto3 h2{
  font-size: 35px;
  font-family: "Poppins";
  color: #2D3A65;

  display: flex;
  justify-content: center;

}

.texto3 span{
  font-size: 35px;
  font-weight: 700;
  font-family: "Poppins";
  color: #2D3A65;

  display: flex;
  justify-content: center;

  margin-bottom: 15px;

}

.texto3 p{
  font-size: 19px;
  font-family: "Poppins";
  color: #2D3A65;

  text-align: justify;

  text-indent: 55px;
  line-height: 37px; 

}


.img3 img{
  height: 300px;
  
}

/*Footer*/

footer{
    background-color: var(--azul-escuro-aurora);
  
    height: 290px;
    display: flex;
    justify-content: space-between;
  
    white-space: nowrap;
  }
  
  .navs-footer{
    height: 100px;
  
    margin-top: 60px;
    margin-left: 100px;
  
    display: flex;
    justify-content: space-around;
    gap: 80px;
    
  }
  
  .coluninha1{ 
    display: flex;
    flex-direction: column;
    
    line-height: 55px;
  
    
  }
  
  .coluninha1 a{
    color: white;
    
    font-size: 28px;
    font-family: 'Poppins';
  
    text-decoration: none;
  
    transition: color 500ms ease;
  }
  
  .coluninha2{
    display: flex;
    flex-direction: column;
    
    line-height: 55px;
  }
  
  .coluninha2 a{
    color: white;
    
    font-size: 28px;
    font-family: 'Poppins';
  
    text-decoration: none;
  
    transition: color 200ms ease;
  
  }
  
  .coluninha1 a:hover , .coluninha2 a:hover {
    color: var(--azulzinho-claro-aurora)
  
  }
  
  .images{
    height: 200px;
  
    margin-top: 50px;
    margin-right: 110px;
  
    display: flex;
    flex-direction: column;
  
    line-height: 45px;
  }
  
  .logo{
    width: 350px;
  
    display: flex;
    justify-content: center;
  
    margin-bottom: 10px;
  
  }
  
  .logo img{
    height: 115px;
    width: 270px;
  }
  
  .redes{
    width: 370px;
  
    display: flex;
    justify-content: center;
    flex-direction: row;
  
    gap: 5px;
  }
  
  .redes a{
    text-decoration: none;
    
  }
  
  .redes svg:hover {
    fill: var(--azulzinho-claro-aurora);
  
  }
  
  #whatsapp{
    margin-left: -10px;
  }
  
  #youtube svg{
    margin-top: 2px;
    height: 59px;
    width: 59px;
  }
  
  
  #footer_copyright {
    font-family: "Poppins";
    display: flex;
    justify-content: center;
    background-color: #2D3A65;
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 400;
    color: white;
  }
  

@media screen and (max-width: 1250px){
    nav img{
        margin-top: 40px;
    }
}

@media screen and (max-width: 1200px){
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 5vh;
      right: 0;
      width: 28vw;
      height: 110vh;
      background: var(--azul-escuro-aurora);
      flex-direction: column;
      line-height: 70px;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }

    .nav-list a{
        color: white;
        font-size: 20px;
        font-family: "Poppins";
        margin-left: 40px;
    }

    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }

    nav img{
        margin-top: 40px;
        margin-left: 60px;
    }

    nav{
        display: flex;
        justify-content: space-between;
    }
    .mobile-menu {
      display: block;
      margin-top: 45px;
      margin-right: 60px;

      z-index: 1;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);

  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }
  .mobile-menu.active .line1, .mobile-menu.active .line2, .mobile-menu.active .line3{
    margin-left: -10px;
  }

@media screen and (max-width: 770px){
    .nav-list a{
        color: white;
        font-size: 15px;
        font-family: "Poppins";
        margin-left: 40px;
    }

    .mobile-menu {
        margin-right: 40px;
      }
}

@media screen and (max-width: 630px){
    .nav-list a{
        color: white;
        font-size: 15px;
        font-family: "Poppins";
        margin-left: 20px;
    }

    .mobile-menu {
        margin-right: 20px;
      }
}

@media screen and (max-width: 555px){

    .nav-list a{
        font-size: 12px;
    }

}

@media screen and (max-width: 450px){
    .mobile-menu {
        margin-right: 5px;
        margin-top: 20px;
      }

      .nav-list a{
        font-size: 10px;
        font-weight: 900;
        margin-left: 8px;
    }
}